* {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
       background-color: #2d0d22;
       color: #fff;
}

.HeaderContainer {
       display: flex;
       justify-content: space-between;
}

.siteLogo {
       margin-top: 30px;
}

.MenuContainer {
       justify-content: center;
       align-items: center;
}

.MenuContainer ul {
       display: flex;
       margin-top: 50px;
}

.firstItem {
       color: #eb156c;
}

.menuItems {
       list-style: none;
       font-size: 18px;
       text-transform: uppercase;
       padding: 10px;
       font-weight: 500;
       margin: 0px 20px;
       cursor: pointer;
       transition: ease all .4s;
}

.menuItems:hover {
       color: #eb156c;
}

.headerBtn {
       font-size: 18px;
       text-transform: uppercase;
       padding: 10px;
       font-weight: 500;
       cursor: pointer;
}

.ConnectBtn {
       margin-top: -15px;
       background-color: transparent;
       cursor: pointer;
}

.HambugerIcon {
       display: none;
       font-size: 30px;
       margin: 10px;
       font-weight: 500;
       cursor: pointer;
}

@media (max-width:1080px) {
       .HambugerIcon {
              display: block;
              margin-top: -15px;
              margin-right: 20px;
       }

       .menuItems {
              display: none;
       }

       .ConnectBtn {
              display: none;
       }

       .logoContainer {
              margin: 20px;
              margin-top: -10px;
              width: 150px;
       }

       .siteLogo {
              width: 100%;
       }

       .HeaderContainer {
              display: flex;
              justify-content: space-between;
       }
}