* {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
       background-color: #0e3b1d;
       background: linear-gradient(to right, #82006e, #0e3b1d);
       color: #fff;
}

.HeaderContainer {
       display: flex;
       justify-content: space-between;
}

.logoContainer {
       background: transparent;
       height: 100px;
}

.siteLogo {
       /* border: 1px solid; */
       width: 125px !important;
       height: 115px;
       margin-top: 20px;
       margin-left: 100px;
       background: transparent;
       width: 100%;
}

.LogoText {
       background: transparent;
       margin-left: 70px;
       font-family: poppins;
}

.MenuContainer {
       justify-content: center;
       align-items: center;
       background: transparent;
}

.MenuContainer ul {
       display: flex;
       background: transparent;
       margin-top: 50px;
}

.firstItem {
       color: #eb156c;
}

.menuItems {
       list-style: none;
       font-size: 18px;
       text-transform: uppercase;
       padding: 10px;
       font-weight: 500;
       margin: 0px 20px;
       cursor: pointer;
       transition: ease all .4s;
}

.menuItems:hover {
       color: #eb156c;
}

.headerBtn {
       font-size: 18px;
       text-transform: uppercase;
       padding: 10px;
       font-weight: 500;
       cursor: pointer;
}

.ConnectBtn {
       margin-top: -15px;
       margin-right: 100px;
       padding-left: 0;
       background: transparent !important;
       cursor: pointer;
}

.HambugerIcon {
       display: none;
       font-size: 30px;
       margin: 10px;
       font-weight: 500;
       cursor: pointer;
}

@media (max-width:1080px) {
       .HambugerIcon {
              display: block;
              margin-top: -15px;
              margin-right: 20px;
       }

       .menuItems {
              display: none;
       }

       .ConnectBtn {
              display: none;
       }

       .logoContainer {
              margin: 20px;
              margin-top: -10px;
              width: 150px;
       }

       .siteLogo {
              border: 1px solid #fff !important;
              width: 100%;
       }

       .HeaderContainer {
              display: flex;
              justify-content: space-between;
       }
}